<!--
  Generated template for the ContainerSubpagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <page-menu (page)="toggleActive($event)" ion-fixed></page-menu>
  <div #target ion-fixed></div>
  <page-footer ion-fixed></page-footer>
</ion-content>
