.platform-android page-home {

  .photoBackground{
    width: 100vw;
    height: 90vh;
    position: absolute;
    top:0vh;
    z-index: 1;
  }

  .contenu{
    width: 100vw;
    height: 90vh;
    margin-top: 2.5vh;
  }


  .eBizUp{
    position:absolute;
    top: 80vh;
    left: 93vw;
    width:5vw;
    height:5vw;
    z-index: 100;
  }

  .biblio{
    position:absolute;
    top: 2vh;
    left: 93vw;
    width:5vw;
    height:5vw;
    z-index: 100;
  }
}


page-home, .platform-ios page-home {
  .photoBackground{
    width: 100vw;
    height: 87vh;
    position: absolute;
    top:2.5vh;
    z-index: 1;
  }

  .contenu{
    width: 100vw;
    height: 87vh;
    margin-top: 2.5vh;
  }

  .eBizUp{
    position:absolute;
    top: 80vh;
    left: 93vw;
    width:5vw;
    height:5vw;
    z-index: 100;
  }

  .biblio{
    position:absolute;
    top: 4vh;
    left: 93vw;
    width:5vw;
    height:5vw;
    z-index:100;
  }
}
