<div class="contenu"></div>
  <img class="photoBackground" src="assets/images/nantes-quai-37.png"/>
  <img class="biblio" src="assets/images/biblio.png" (click)="navigateToBiblio()"/>
  <a href="eBizUpV3Doc://" target="_system"><img class="eBizUp" src="assets/images/eBizUp.png"/></a>
