<!--
  Generated template for the BiblioActifs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
  <div ion-fixed >
    <img  class="photoBackground" src="assets/images/nantes-quai-37.png" />
    <div class="contenu" ></div>
      <div  class="container" >
        <div class="photo photoTop">
          <img src="assets/images/nantes-quai-37.png">
          <img src="assets/images/nantes-quai-37.png">
          <img src="assets/images/nantes-quai-37.png">
        </div>
        <hr>
        <div class="photo photoButtom">
          <img src="assets/images/nantes-quai-37.png">
          <img src="assets/images/nantes-quai-37.png">
          <img src="assets/images/nantes-quai-37.png">
        </div>
        <hr>
      </div>
      <div (click)="navigateToHome()" class="biblio" ion-fixed ><img    src="assets/images/biblioBlack.svg" /></div>
  </div>
  <page-footer ion-fixed></page-footer>
</ion-content>
