.platform-android page-biblio-actifs {
  .photoBackground{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 90vh;
    -webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
    top:0;
  }


    .contenu{
      z-index:1;
      width: 100vw;
      height: 90vh;
      margin-top:0;
    }
      .container{
        position: absolute;
        top:0;
        z-index:2;
        height:100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        .photo{
          display:inline-block;
          width:100%;
          img{
            height: 20vw;
            width: 20vw;
            margin-left: 6.3vw;
            margin-right: 6.3vw;
          }
        }
        .photoTop{
          margin-top: 8vw;
        }
        .photoButtom{
          margin-top: 10vw;
        }
        hr{

          height: 0.3vw;
          color: black;
          background-color: black;
          margin-top: -0.37vh;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }

  }

  .biblio{
    position:absolute;
    top: 2vh;
    left: 93vw;
    width: 5vw;
    height:5vw;
    z-index: 100;
    img{
      width:100%;
      height:100%;
    }
  }
}


page-biblio-actifs, .platform-ios page-biblio-actifs {
  .photoBackground{
    position: absolute;
    top:2.5vh;
    z-index: 1;
    width: 100vw;
    height: 87vh;
    -webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
  }

  .contenu{
    width: 100vw;
    height: 87vh;
    margin-top:2.5vh;
  }
    .container{
      position: absolute;
      top:2.5vh;
      z-index:2;
      height:100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .photo{
        display:inline-block;
        width:100%;
        img{
          height: 20vw;
          width: 20vw;
          margin-left: 6.3vw;
          margin-right: 6.3vw;
        }
      }
      .photoTop{
        margin-top: 8vw;
      }
      .photoButtom{
        margin-top: 10vw;
      }
      hr{

        height: 0.3vw;
        color: black;
        background-color: black;
        margin-top: -0.37vh;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

}

  .biblio{
    position:absolute;
    top: 4vh;
    left: 93vw;
    width: 5vw;
    height:5vw;
    z-index:100;
    img{
      width:100%;
      height:100%;
    }
  }


}
