<img class="photoBackground" src="assets/images/nantes-quai-37.png"/>
<div class="contenu"></div>
<div class="container">
  <div class="photo photoTop">
    <img src="assets/images/nantes-quai-37.png" (click)="openPDF('https://www.nestleprofessional.fr/sites/g/files/gfb141/f/media/nestle-docello-mousse-chocolat-pepites-chocolat-noir-1100g-v2.pdf' )">
    <img src="assets/images/nantes-quai-37.png" (click)="openPDF('https://www.nestleprofessional.fr/sites/g/files/gfb141/f/media/nestle-docello-mousse-chocolat-pepites-chocolat-noir-1100g-v2.pdf')">
    <img src="assets/images/nantes-quai-37.png" (click)="openPDF('https://www.nestleprofessional.fr/sites/g/files/gfb141/f/media/nestle-docello-mousse-chocolat-pepites-chocolat-noir-1100g-v2.pdf')">
  </div>
  <hr>
  <div class="photo photoButtom">
    <img src="assets/images/nantes-quai-37.png" (click)="openPDF('https://www.nestleprofessional.fr/sites/g/files/gfb141/f/media/nestle-docello-mousse-chocolat-pepites-chocolat-noir-1100g-v2.pdf')">
    <img src="assets/images/nantes-quai-37.png" (click)="openPDF('https://www.nestleprofessional.fr/sites/g/files/gfb141/f/media/nestle-docello-mousse-chocolat-pepites-chocolat-noir-1100g-v2.pdf')">
    <img src="assets/images/nantes-quai-37.png" (click)="openPDF('https://www.nestleprofessional.fr/sites/g/files/gfb141/f/media/nestle-docello-mousse-chocolat-pepites-chocolat-noir-1100g-v2.pdf')">
  </div>
  <hr>
</div>
