@font-face {
	font-family: "sf";
	src: url("assets/fonts/sf-font.ttf?") format("ttf"),
}

page-footer {
	bottom:  1vh;
  .footerContainer{
    height: 4vh;
    width:100%;
    .logoRight{
      height:100%;
      width:50vw;
      float: left;
      background-color:white;
      p{
        float:left;
        font-family: "sf";
        margin-top: 0;
        margin-bottom: 0;
      }
      .titre{
        font-size: 4vw;
        color: #e10940;
      }
      .cadre{
        margin-top: 0.7vw;
        font-size: 3vw;
        background-color: #e10940;
        color: white;
        text-align: center;
        margin-left: 1vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
      .slogan{
        width: 100%;
        margin-left: .2vw;
        font-size: 1.7vw;

      }
    }
    .logoLeft{
      height:100%;
      width:22vw;
      float:left;
      text-align: center;
      img{
				width: 80%;
        margin-top: 1.4vh;
        margin-left: auto;
        margin-right: auto;
      }
    }
		.navContainer{
			float:right;
			width:28vw;
			text-align: right;
			.nav{
				display: inline-block;
				width:40%;
				img{
					width:50%;
					padding: 10%
				}
			}
			.navRight{
				text-align:left;

			}
			.navLeft{
				text-align: left;
				transform: rotate(180deg);
				img{
					margin-top: 4%;
				}
			}
		}
  }
}
