<!--
  Generated template for the Footer page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="footerContainer">
  <div class="logoLeft"><img src="assets/images/logoEcris.jpg"></div>
  <div class="logoRight"><p class="titre">QUAI 37</p><p class="titre cadre"> NANTES </p> <p class="slogan">Ici et nulle part ailleurs</p></div>
  <div class="navContainer">
    <div class="nav navLeft">
      <img src="assets/images/navSquare.png">
    </div>
    <div class="nav navRight">
      <img src="assets/images/navSquare.png">
    </div>
  </div>
</div>
