
.platform-android page-menu {
  .menuContainer{
    position:absolute;
    z-index:1;
    height: 90vh;
    width:24vw;
    top:0;
    .right{
      height: 100%;
      width:4vw;
      float: right;
      background-color: rgba(255, 255, 255, 0.85);
      text-align: center;
      img{
        margin-top: 45vh;
        width:20px;
        height: 40px;
      }
    }
    .left{
      width:20vw;
      height: 90vh;
      float:left;
      background-color: rgba(255, 255, 255, 0.65);
      text-align: center;
      .logo{
        margin-left:auto;
        margin-right: auto;
        width:100%;
        background-color: #0f1417;
        img{
          width:60%;
        }
      }
      .menu{
        height:82vh;
        -webkit-overflow-scrolling: touch;
        overflow-y:scroll;

      .ligneMenu{
        width: 80%;
        margin-left:auto;
        margin-right:auto;
        height: 5vw;
        img:first-of-type{
          width: 12%;
          float: left;
          margin-top:10%;
        }
        button{
          margin-top: 13%;
          background-color:transparent;
          width: 82%;
          float:left;
        }
        img:last-of-type{
          margin-top: 14%;
          width:4%;
          float:right;
        }
        hr{
          height: 0.3vh;
        }
      }
      .ligneMenu.active{
        background-color: rgba(255,255,255,0.3);
      }
    }


    }
  }
}

page-menu, .platform-ios page-menu {
  .menuContainer.checked{
    transform: translate3d(0vw, 0, 0);
    transition: 500ms ease-out;
  }
  .menuContainer{
    position:absolute;
    z-index:1;
    top:2.5vh;
    height: 88.5vh;
    width:24vw;
    transform: translate3d(-20vw, 0, 0);
    transition: 500ms ease-out;
    .right{
      height: 100%;
      width:4vw;
      float: right;
      background-color: rgba(255, 255, 255, 0.85);
      text-align: center;
      img{
        margin-top: 45vh;
        width:20px;
        height: 40px;
      }

      .menu-icon{
        position: relative;
        width: 54px;
        height: 54px;
        top: 2.2vh;

        span {
            position: relative;
            left: 10%;
            display: block;
            height: 2px;
            width: 60%;
            z-index: 2;
            background-color:black;
        }

        .span1{
          top: 0.7vh;
          transition: 500ms ease-out;
        }
        .span2{
          top: 1.4vh;
          transition-delay: 500ms;
        }
        .span3{
          top: 2.1vh;
          transition:
          500ms ease-out;
        }
        .span1.checked{
          -ms-transform: rotate(45deg); /* IE 9 */
          -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
          transform: rotate(45deg);
          transition: 500ms ease-out;
        }
        .span2.checked{
          visibility: hidden;
          transition: 0ms ease-out;
        }
        .span3.checked{
          top: 0.14vh;
         -ms-transform: rotate(45deg); /* IE 9 */
         -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
          transform: rotate(-45deg);
          transition: 500ms ease-out;
        }

/*
        span:first-child {
          margin-top: -6px;
        }/*
        span::before, span::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-6px);

            display: block;
            width: 22px;
            height: 2px;

            background-color: #FFF;

            transition: transform 0.5s;
        }
        span::after {
            transform: translateY(6px);
        }
        */
      }
      .menu-icon.is-opened span { background: transparent; }
      .menu-icon.is-opened span::before { transform: translateY(0) rotate(45deg); }
      .menu-icon.is-opened span::after { transform: translateY(0) rotate(-45deg); }
      .menu-icon.is-opened { transform: rotate(180deg); }

      .menu-icon svg {
          position: relative;
          z-index: 1;
          stroke-width: 1px;
          stroke: #FFF;
      }

      .menu-icon svg {
          stroke-dashoffset: 170;
          stroke-dasharray: 170;
          transition: stroke-dashoffset 0.5s;
       }
       .menu-icon.is-opened{
          stroke-dashoffset: 0;
       }
    }
    .left{
      width:20vw;
      height: 88.5vh;
      float:left;
      background-color: rgba(255, 255, 255, 0.65);
      text-align: center;
      .logo{
        margin-left:auto;
        margin-right: auto;
        width:100%;
        background-color: #0f1417;
        border-radius: 2px;
        img{
          width: 70%;
          margin-right: 15%;
        }

      }
      .menu{
        height:80vh;
        -webkit-overflow-scrolling: touch;
        overflow-y:scroll;

      .ligneMenu{
        width: 80%;
        margin-left:auto;
        margin-right:auto;
        height: 5vw;
        img:first-of-type{
          width: 12%;
          float: left;
          margin-top:10%;
        }
        button{
          margin-top: 13%;
          background-color:transparent;
          width: 82%;
          float:left;
        }
        img:last-of-type{
          margin-top: 14%;
          width:4%;
          float:right;
        }
        hr{
          height: 0.3vh;
        }
      }
      .ligneMenu.active{
        background-color: rgba(255,255,255,0.3);
      }
    }

    }
  }
}
//*/
