<!--
  Generated template for the Menu page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <div class="menuContainer" [ngClass]="menuState ? 'checked' : null">
    <div class="right">
    <!--  <img [@flip]="flipState" src="assets/images/triangleLarge.svg"/> -->
      <div class="menu-icon" (click)="toggleMenu()">
          <span [ngClass]="menuState ? 'checked' : null" class="span1"></span>
          <span [ngClass]="menuState ? 'checked' : null" class="span2"></span>
          <span [ngClass]="menuState ? 'checked' : null" class="span3"></span>
          <!--
          <svg x="0" y="0" width="54px" height="54px" viewBox="0 0 54 54">
          <circle cx="27" cy=" 27" r="26"></circle>
          </svg>
        -->
      </div>
    </div>
    <div class="left" scroll="true">
          <div class="logo"><img src="assets/images/quai37_long.jpg"/></div>
          <div class="menu">
            <div mwActive  class="ligneMenu" >
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div mwActive  class="ligneMenu" >
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu" [ngClass]="ligneMenuActive == 'HomePage' ? 'active' : null" (click)="toggleActive('HomePage')">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive == 4 ? 'active' : null" (click)="toggleActive('PdfPage')">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive == 5 ? 'active' : null" (click)="ligneMenuActive = 5">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive  == 6 ? 'active' : null" (click)="ligneMenuActive = 6">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive == 7 ? 'active' : null" (click)="ligneMenuActive = 7">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive  == 8 ? 'active' : null" (click)="ligneMenuActive = 8">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu" [ngClass]="ligneMenuActive  == 9? 'active' : null" (click)="ligneMenuActive = 9">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive == 10 ? 'active' : null" (click)="ligneMenuActive = 10">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
            <div class="ligneMenu"  [ngClass]="ligneMenuActive == 11? 'active' : null" (click)="ligneMenuActive = 11">
                <hr>
                <img src="assets/images/tower.svg"/>
                <button   >Perspective 3D</button>
                <img src="assets/images/triangle.png"/>
            </div>
          </div>

    </div>
  </div>
